.text-cropped-services {
  max-width: 785px;
  margin-left: auto;
  margin-right: auto;
}

.services-container {
  padding-top: 120px;
}

@media (max-width: 1200px) {
  .text-cropped-services {
    max-width: 592px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 992px) {
  .text-cropped-services {
    max-width: 518px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 768px) {
  .text-cropped-services {
    max-width: unset;
  }
  .services-container {
    padding-top: unset;
  }
}
