.banner {
  position: relative;
  img {
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}
.z-5 {
  z-index: 5;
}
.text-banner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  font-size: 78px;
  width: 60%;
  opacity: 0;
  transition: all 500ms ease;
}

.vd-positioned {
  margin-top: -100px;
  z-index: -5;
}

.reserve-sticky {
  position: sticky;
  top: 64px;
  // height: 50vh;
  height: 80vh;
  min-height: 560px;
}
.reserve-box {
  height: 100vh;
}
.reserve-text-down {
  // margin-top: 65vh;
  margin-top: 35vh;
}

@media (max-width: 1440px) {
  .text-banner {
    font-size: 70px;
    width: 60%;
  }
}

@media (max-width: 768px) {
  .text-banner {
    font-size: 33px;
    width: 80%;
  }
  .vd-positioned {
    margin-top: -25px;
    z-index: -5;
  }
}

@media (max-width: 375px) {
  .text-banner {
    font-size: 32px;
    width: 80%;
  }
  .vd-positioned {
    margin-top: -15px;
    z-index: -5;
  }
}

.text-cropped-reserve {
  max-width: 470px;
}

@media (max-width: 1200px) {
  .text-cropped-reserve {
    max-width: 350px;
  }
}
@media (max-width: 992px) {
  .text-cropped-reserve {
    max-width: 305px;
  }
}

@media (max-width: 768px) {
  .text-cropped-reserve {
    max-width: unset;
  }
  .banner {
    img {
      height: 320px;
    }
  }
  .reserve-sticky {
    position: unset;
    top: unset;
    height: unset;
    min-height: unset;
  }
  .reserve-box {
    height: unset;
  }
  .reserve-text-down {
    margin-top: unset;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .reserve-sticky {
    position: unset;
    top: unset;
    height: unset;
    min-height: unset;
  }
  .reserve-box {
    height: unset;
  }
  .reserve-text-down {
    margin-top: unset;
  }
}

@media only screen and (min-width: 1024px) and (min-height: 900px) {
  .reserve-sticky {
    position: unset;
    top: unset;
    height: unset;
    min-height: unset;
  }
  .reserve-box {
    height: unset;
  }
  .reserve-text-down {
    margin-top: unset;
  }
}
