.icon-share {
  width: 60px;
  height: 60px;
  fill: #33434c;
  cursor: pointer;
  &:hover {
    fill: #e16411;
  }
  @media (max-width:768px){
    width: 40px;
    height: 40px;
  }
  @media (max-width:375px){
    width: 30px;
    height: 30px;
  }
}
