.modal-cookies-form {
  .modal-body {
    display: flex;
    flex-direction: column;
  }
  .flex-1 {
    flex: 1 1 auto;
  }
  .das-btn.transparent {
    background-color: transparent;
    color: black;
    &:before {
      background-color: #e4e7e6 !important;
    }
  }
  .permission-input {
    height: 35px;
    width: 35px;
  }
  .p-checkbox {
    font-size: 13px;
  }
}

.description-policy {
  height: 180px;
  overflow: auto;
}

@media (max-width: 768px) {
  .description-policy {
    height: 210px;
    overflow: auto;
    margin-bottom: 30px;
  }
}

.btnMore {
  position: relative;
  min-width: 190px !important;
  max-width: 190px !important;
  background-color: transparent;
  color: black;
  border: 1px solid #e4e7e6 !important;
  @media (max-width: 768px) {
    margin: 0 auto 1rem auto;
  }
  &:hover {
    background-color: #e4e7e6;
    span {
      color: black;
    }
  }
  &.das-btn:before {
    background-color: #e4e7e6 !important;
  }
  .arrow {
    position: absolute;
    right: 20px;
    height: 12px;
    top: 50%;
    transform: translateY(-50%);
    transition: all 500ms ease;
  }
  &.active {
    background-color: #e4e7e6 !important;
    span {
      color: black;
    }
    .arrow {
      transform: translateY(-50%) rotate(-180deg);
    }

    &:before {
      background-color: #e4e7e6 !important;
    }
  }
  &:focus {
    background-color: #e4e7e6 !important;
    span {
      color: black;
    }
    &:before {
      background-color: #e4e7e6 !important;
    }
  }
  span {
    font-family: "dwa" !important;
    font-size: 14px;
    margin-left: -20px;
  }
}

.modal-cookies-form {
  .container-radio-button {
    display: block;
    position: relative;
    cursor: pointer;
    user-select: none;
  }

  .container-radio-button input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  .checkmark {
    height: 35px;
    width: 35px;
    background-color: #ffffff;
    border: 1px solid #ced4da;
  }

  .container-radio-button:hover input ~ .checkmark {
    background-color: #ccc;
  }
  .container-radio-button input:checked ~ .checkmark {
    background-color: #e16411;
  }

  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  .container-radio-button input:checked ~ .checkmark:after {
    display: block;
  }

  .container-radio-button .checkmark:after {
    content: "";
    width: 30px;
    height: 30px;
    background: transparent url("https://recursos.motorflash.com/dwa2018/esp/img/interface.png") no-repeat center center;
    background-size: 100%;
    position: absolute;
    left: 2px;
    top: 50%;
    transform: translateY(-50%);
  }
}
