nav {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
  min-height: 65px;
}

.p-fixed {
  position: fixed !important;
  width: 100%;
  z-index: 1040;
  transform: translate3d(0, 0, 0);
  background-color: white;
}

.logo-header {
  img {
    min-width: 165px;
    width: 170px;
  }
}
.second-navbar {
  position: fixed;
  z-index: 1038;
  top: 64px;
  width: 100%;
  transform: translate3d(0, 0, 0);
  display: block;

  .brand {
    line-height: 0;
  }
  .spacer {
    height: 15px;
    background-color: white;
    width: 2px;
  }
  .wishlist-box {
    cursor: pointer;
  }
  .message-back {
    line-height: 20px;
    font-size: 14px;
  }
}
.navbar-shadown {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  &.active {
    background-color: #e4e7e6;
    border-radius: 0 0 0 90%;
    @media (min-width: 768px) {
      border-radius: 0 0 0 70%;
    }
  }
}
.wishlist-box {
  position: relative;
  img {
    width: 20px;
    //padding-bottom: 2px;
  }
  a {
    position: relative;
  }
  .badge {
    position: absolute;
    top: -2px;
    right: -5px;
    border-radius: 100%;
    height: 12px;
    width: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    span {
      font-size: 8.5px;
    }
  }
}

.custom-toogle {
  outline: none;
}

.spacer-row-ham {
  height: 40px;
  background-color: black;
  margin: 0 25px;
  width: 1px;
}

/* Icon 4 */

#nav-icon1 {
  // width: 20px;
  width: 26px;
  height: 15px;
  position: relative;
  margin: 16.66px auto;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
  &:hover {
    span {
      &:nth-child(2) {
        width: 100%;
      }
      &:nth-child(3) {
        width: 100%;
      }
    }
  }
}

#nav-icon1 span,
#nav-icon3 span,
#nav-icon4 span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: black;
  border-radius: 3px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
  &:nth-child(2) {
    width: 75%;
  }
  &:nth-child(3) {
    width: 50%;
  }
}

#nav-icon1 span:nth-child(1) {
  top: 0px;
}

#nav-icon1 span:nth-child(2) {
  top: 6px;
}

#nav-icon1 span:nth-child(3) {
  top: 12px;
}

#nav-icon1.open span:nth-child(1) {
  top: 6px;
  transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -20px;
}

#nav-icon1.open span:nth-child(3) {
  top: 6px;
  transform: rotate(-135deg);
  width: 100%;
}

@media (min-width: 768px) {
  .d-desk {
    padding-top: 40px;
    padding-bottom: 50px;
  }
  .navbar-shadown {
    &.active {
      background-color: #fff;
      border-radius: 0;
      .bg-custom-desk {
        background-color: #e4e7e6;
        border-radius: 0 0 0 100%;
        position: absolute;
        right: 0;
        top: 0;
        width: 300px;
        height: 80%;
        z-index: 0;
      }
    }
  }
}

@media (max-width: 330px) {
  .spacer-row-ham {
    height: 40px;
    margin: 0 10px 0 0;
    width: 1px;
  }
}
