.car-models-sticky {
  position: -webkit-sticky;
  position: sticky;
}

.car-models-box {
  position: relative;
  height: 152vh;
  margin-bottom: 50px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .car-models-box {
    height: 50vh;
  }
}

@media (max-width: 768px) {
  .car-models-sticky {
    transform: translate3d(0px, 0px, 0px);
    background-color: white;
  }
  .car-models-box {
    margin-top: -16px;
    background-color: white;
    position: relative;
  }
}

.content-card {
  position: relative;
  .emoji-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
    .emoji {
      position: absolute;
      width: 45px;
      &:nth-child(1) {
        top: 2%;
        left: 0;
      }
      &:nth-child(2) {
        top: 0;
        left: 20%;
      }
      &:nth-child(3) {
        top: 1.8%;
        left: 41%;
      }
      &:nth-child(4) {
        top: 0.8%;
        left: 60%;
      }
      &:nth-child(5) {
        top: 0;
        left: 75%;
      }

      &:nth-child(6) {
        top: 12.5%;
        left: 0;
      }
      &:nth-child(7) {
        top: 10.3%;
        left: 20%;
      }
      &:nth-child(8) {
        top: 11%;
        left: 41%;
      }
      &:nth-child(9) {
        top: 13%;
        left: 60%;
      }
      &:nth-child(10) {
        top: 9.7%;
        left: 75%;
      }

      &:nth-child(11) {
        top: 21%;
        left: 0;
      }
      &:nth-child(12) {
        top: 20%;
        left: 20%;
      }
      &:nth-child(13) {
        top: 20.7%;
        left: 38%;
      }
      &:nth-child(14) {
        top: 23%;
        left: 60%;
      }
      &:nth-child(15) {
        top: 20.1%;
        left: 75%;
      }

      &:nth-child(16) {
        top: 30%;
        left: 0;
      }
      &:nth-child(17) {
        top: 31.3%;
        left: 20%;
      }
      &:nth-child(18) {
        top: 29%;
        left: 39%;
      }
      &:nth-child(19) {
        top: 31%;
        left: 60%;
      }
      &:nth-child(20) {
        top: 34%;
        left: 75%;
      }

      &:nth-child(21) {
        top: 39%;
        left: 2%;
      }
      &:nth-child(22) {
        top: 40.9%;
        left: 20%;
      }
      &:nth-child(23) {
        top: 39%;
        left: 42%;
      }
      &:nth-child(24) {
        top: 42%;
        left: 60%;
      }
      &:nth-child(25) {
        top: 44%;
        left: 75%;
      }

      &:nth-child(26) {
        top: 51%;
        left: 0;
      }
      &:nth-child(27) {
        top: 52%;
        left: 20%;
      }
      &:nth-child(28) {
        top: 48%;
        left: 40%;
      }
      &:nth-child(29) {
        top: 52.6%;
        left: 58.4%;
      }
      &:nth-child(30) {
        top: 51%;
        left: 75%;
      }

      &:nth-child(31) {
        top: 61%;
        left: 0;
      }
      &:nth-child(32) {
        top: 62%;
        left: 20%;
      }
      &:nth-child(33) {
        top: 57%;
        left: 35%;
      }
      &:nth-child(34) {
        top: 61%;
        left: 60%;
      }
      &:nth-child(35) {
        top: 63%;
        left: 75%;
      }

      &:nth-child(36) {
        top: 70%;
        left: 4%;
      }
      &:nth-child(37) {
        top: 69%;
        left: 24%;
      }
      &:nth-child(38) {
        top: 66%;
        left: 42%;
      }
      &:nth-child(39) {
        top: 72%;
        left: 60%;
      }
      &:nth-child(40) {
        top: 75%;
        left: 75%;
      }

      &:nth-child(41) {
        top: 80%;
        left: 0;
      }
      &:nth-child(42) {
        top: 77%;
        left: 20%;
      }
      &:nth-child(43) {
        top: 77.2%;
        left: 40%;
      }
      &:nth-child(44) {
        top: 80%;
        left: 60%;
      }
      &:nth-child(45) {
        top: 86%;
        left: 75%;
      }

      &:nth-child(46) {
        top: 88.4%;
        left: -3%;
      }
      &:nth-child(47) {
        top: 86.8%;
        left: 20%;
      }
      &:nth-child(48) {
        top: 88%;
        left: 40%;
      }
      &:nth-child(49) {
        top: 87%;
        left: 60%;
      }
    }
    img {
      width: 100%;
    }
  }
}

@media (min-width: 425px) {
  .content-card {
    .emoji-mask {
      .emoji {
        width: 50px;
      }
    }
  }
}

@media (min-width: 768px) {
  .content-card {
    .emoji-mask {
      .emoji {
        width: 52px;
      }
    }
  }
}

@media (min-width: 992px) {
  .content-card {
    .emoji-mask {
      .emoji {
        width: 65px;
      }
    }
  }
}

@media (min-width: 1200px) {
  .content-card {
    .emoji-mask {
      .emoji {
        width: 70px;
      }
    }
  }
}

@media (min-width: 1920px) {
  .content-card {
    .emoji-mask {
      .emoji {
        width: 90px;
      }
    }
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  #car-models {
    max-width: 100%;
  }
}
