.swiper-pagination {
  display: flex;
  justify-content: center;
}
.swiper-pagination-bullet {
  cursor: pointer;
  padding: 15px 60px;
  border-bottom: 3px solid black;
  transition: all 500ms ease;
  outline: none !important;
  display: flex;
  align-items: center;
}
.swiper-pagination-bullet-active {
  border-bottom: 3px solid #f06409;
}

@media (max-width: 768px) {
  .swiper-pagination-bullet {
    padding: 15px;
  }
}
