footer {
  width: 100%;
  position: relative;
  background-color: #3a3a3a;
  color: #fff;
  padding: 15px 30px 0;
  img {
    max-width: 100%;
    max-width: 200px;
  }
  svg {
    fill: #fff;
  }
  @media (max-width: 768px) {
    .container-fluid {
      padding-left: 0;
      padding-right: 0;
    }
    .last::after {
      content: "";
      padding-right: 0;
    }
  }
}

.invert {
  filter: invert(1);
}

.list-footer {
  padding: 0;
  margin: 0;
  li {
    list-style-type: none;
  }
}

.footer-second {
  width: 100%;
  position: relative;
  color: #fff;
  // background-color: #838383;
  display: flex;
  justify-content: center;
  padding: 10px 0;
  p {
    margin-bottom: 0;
  }
  ul {
    display: flex;
    margin-left: 30px;
    li {
      display: inline;
      padding: 0 10px 0 0;
      white-space: nowrap;
      a {
        text-decoration: none;
        color: #fff;
        transition: all 0.2s ease-in-out;
        &::after {
          content: "|";
          padding-left: 10px;
        }
      }
      .last::after {
        content: "";
      }
    }
  }
}

.rrss {
  justify-content: center;
  svg {
    height: 20px;
  }
}

footer,
.footer-second {
  ul {
    li {
      font-size: 12px;
    }
  }
}
footer {
  a {
    color: white;
    text-decoration: none !important;
    &:hover {
      color: #e16411;
    }
  }
}
.footer-second {
  span {
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  footer,
  .footer-second {
    ul {
      margin: 0 auto;
      text-align: center;
      li {
        font-size: 8.5px;
      }
    }
  }
  .footer-second {
    span {
      font-size: 8.5px;
    }
  }
}
