.modal-cookies-form {
  .modal-content {
    min-height: 88vh;
    max-height: 570px;
  }
  .modal-body {
    display: flex;
    flex-direction: column;
  }
  .flex-1 {
    flex: 1 1 auto;
  }
  .das-btn.transparent {
    background-color: transparent;
    color: black;
    &:before {
      background-color: #e4e7e6 !important;
    }
  }
}

@media (max-width: 768px) {
  .modal-dialog {
    max-width: 83.33333% !important;
    margin: 0 auto !important;
  }
  .modal-cookies-form {
    .modal-content {
      min-height: 75vh;
      max-height: auto;
    }
  }
}

@media (min-width: 768px) {
  .modal-cookies-form {
    .das-btn span {
      font-size: 15px;
      font-family: "dwa-bold";
    }
  }
}
