@import "~swiper/swiper.scss";
@import "./assets/sass/variables";
@import "~bootstrap/scss/bootstrap";
@import "./assets/sass/typography";
@import "./assets/sass/buttons";
@import "./assets/sass/modal";
@import "./assets/sass/layout";
@import "./assets/sass/fonts";
:root {
  --orange: #e16411;
  --grey-1: #545454;
  --grey-2: #e4e7e6;
}

html {
  height: 100%;
}
body {
  min-height: 100%;
}
video {
  position: relative;
}
.section-item {
  video {
    left: -3px;
  }
}
// html,
// body,
// #__next,
// #root {
//   width: 100%;
//   height: 100%;
// }
html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
}
// #root {
//   overflow-x: hidden;
// }
.bold {
  font-weight: bold;
}
.pointer {
  cursor: pointer;
}
.bg-grey-1 {
  background-color: var(--grey-1);
}

.bg-grey-2 {
  background-color: var(--grey-2);
}

@media (max-width: 768px) {
  .d-desk {
    display: none;
  }
  .section-item {
    video {
      top: -1px;
    }
  }
}
@media (min-width: 768px) {
  .d-mobile {
    display: none;
  }
}

a.das-btn {
  display: flex !important;
  text-decoration: none !important;
  &:hover {
    color: #fff;
  }
}
.das-btn {
  display: flex;
  max-width: 250px;
  justify-content: center;
  align-items: center;
  background-color: #f06409;
  min-width: 180px;
  min-height: 48px;
  border-radius: 24px;
  color: #fff;
  cursor: pointer;
  border: 0;
  overflow: hidden;
  padding: 10px 15px;
  position: relative;
  text-align: center;
  -webkit-mask-image: -webkit-radial-gradient(#fff, #000);
  mask-image: -webkit-radial-gradient(#fff, #000);
  line-height: 0;
  outline: none !important;
  span {
    font-size: 14px;
    font-family: "dwa-bold";
  }
  span,
  img,
  svg {
    z-index: 1;
    position: relative;
    line-height: 0;
  }

  @media (min-width: 768px) {
    span {
      font-size: 17px;
      font-family: "dwa-bold";
    }
    min-width: 180px;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;

    &:hover:before,
    &.hovered:before {
      transition: transform 0.5s ease-in-out;
      transform: translate(-50%, -50%) scale(1);
    }
    &:before {
      content: "";
      position: absolute;
      width: 500px;
      height: 500px;
      background-color: #000;
      top: 50%;
      left: 50%;
      border-radius: 50%;
      transform: translate(-50%, -50%) scale(0);
      z-index: 0;
    }
  }
  @media (min-width: 920) {
    span {
      font-size: 18px;
    }
    &.hovered:before {
      transition: transform 0.5s ease-in-out;
      transform: translate(-50%, -50%) scale(1);
      content: "";
      position: absolute;
      width: 500px;
      height: 500px;
      background-color: #000;
      top: 50%;
      left: 50%;
      border-radius: 50%;
      z-index: 0;
    }
  }
}

.postion-btn-vd {
  margin-top: -120px;
}

@media (max-width: 320px) {
  .postion-btn-vd {
    margin-top: -20px;
  }
}
@media (max-width: 768px) {
  .postion-btn-vd {
    margin-top: -30px;
  }
  .more-mobile {
    height: 350px;
    object-fit: cover;
    object-position: center;
    z-index: -1;
  }
  .minus-mt {
    margin-top: -3rem;
  }
}

.section-item {
  margin-top: -350px;
  padding-top: 350px;
}

#lz_overlay_chat,
#lz_overlay_wm {
  display: none !important;
}

.max-h-screen{
  max-height: 100vh;

}

.bg-presentation{
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: top;
}

.hide-video{
  opacity: 0;
  visibility: hidden;
}

.video-abs{
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: contain;
  object-position: top;
}