.video-container {
  width: 100%;
  height: 100%;
  video {
    object-fit: cover;
    object-position: center;
  }
  &.hide {
    opacity: 0;
    visibility: hidden;
  }
}

.spot {
  position: absolute;
  top: 0;
  left: 0;
  transition: all 500ms ease;
  z-index: 5;
  &.hide {
    opacity: 0;
    visibility: hidden;
  }
}

#banner {
  height: 100vh;
  position: relative;
  z-index: 5;
}

.hero-shadow {
  display: block;
  position: absolute;
  z-index: 1;
  top: 98%;
  width: 100%;
  height: 30vh;
  pointer-events: none;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(60%, transparent));
  background: -webkit-linear-gradient(top, #fff 0%, transparent 60%);
  background: linear-gradient(to bottom, #fff 0%, transparent 60%);
  @media (max-width: 1100px) {
    display: none;
  }
}

.btn-control-video {
  outline: none;
  top: 80px;
  right: 20px;
  background-color: #f06409;
  border: none;
  padding: 0;
  margin: 0;
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  z-index: 6;
  &:focus {
    outline: none;
  }
  &:hover {
    background-color: #d35806;
  }

  .icon {
    border: 0;
    background: transparent;
    box-sizing: border-box;
    margin: 0 auto;
    display: block;
    height: 24px;
    border-color: transparent transparent transparent #ffffff;
    transition: 100ms all ease;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    &.play {
      left: 55%;
      border-style: solid;
      border-width: 15px 0 15px 20px;
    }

    &.pause {
      border-style: double;
      border-width: 0px 0 0px 20px;
    }
  }
}

.btn-share {
  z-index: 50;
  outline: none;
  bottom: 38px;
  right: 22px;
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  position: absolute;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  z-index: 6;
  &:focus {
    outline: none;
    background-color: transparent;
  }
  &:hover {
    background-color: #d35806;
    background-color: transparent;
  }

  .icon {
    border: 0;
    background: transparent;
    box-sizing: border-box;
    margin: 0 auto;
    display: block;
    height: 24px;
    border-color: transparent transparent transparent #ffffff;
    transition: 100ms all ease;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    &.play {
      left: 55%;
      border-style: solid;
      border-width: 15px 0 15px 20px;
    }
  }

  svg {
    width: 32px;
    height: 32px;
    fill: #d8d8d8;
    &:hover {
      fill: #bbbbbb;
      stroke: #bbbbbb;
    }
  }
}

@media (max-width: 767px) {
  #banner {
    z-index: 0;
  }
  .hero-shadow {
    display: none;
  }
  .banner-intro-sticky {
    position: -webkit-sticky;
    position: sticky;
    height: 10vh;
    top: 0;
  }

  .banner-stop-box {
    height: 100vh;
  }
  .video-container {
    video {
      height: unset;
      object-fit: unset;
      object-position: unset;
    }
  }
  .btn-control-video {
    width: 35px;
    height: 35px;

    .icon {
      height: 17px;
      &.play {
        left: 55%;
        border-style: solid;
        border-width: 13px 0 13px 15px;
      }

      &.pause {
        border-style: double;
        border-width: 0px 0 0px 13px;
      }
    }
  }

  .btn-share {
    width: 35px;
    height: 35px;

    .icon {
      height: 17px;
      &.play {
        left: 55%;
        border-style: solid;
        border-width: 13px 0 13px 15px;
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  #banner {
    height: unset;
  }
  .video-container {
    height: unset;
    object-fit: unset;
    object-position: unset;
    video {
      height: unset;
      object-fit: unset;
      object-position: unset;
    }
  }
  .banner-stop-box {
    height: unset;
  }
}
