.btn {
  width: 100%;
  max-width: 200px;
  min-width: 200px;
}
.wmax-100 {
  max-width: 100% !important;
}
.btn-primary:focus,
.btn-primary.focus {
  color: #fff;
  background-color: #f06409;
  border-color: #f06409;
  box-shadow: 0 0 0 0rem #f06409;
}

@media only screen and (min-width: 320px) and (max-width: 374px) {
  .btn-sm {
    $input-btn-padding-y-sm: 0.375rem !default;
    $input-btn-padding-x-sm: 1.563rem !default;
    $input-btn-font-size-sm: 0.938rem !default;
  }
  .btn {
    width: 100%;
    max-width: 180px;
    min-width: 120px;
    $input-btn-padding-y: 0.688rem !default;
    $input-btn-padding-x: 2.688rem !default;
    $input-btn-font-size: 1.25rem !default;
  }
}
@media only screen and (min-width: 375px) and (max-width: 767px) {
  .btn-sm {
    $input-btn-padding-y-sm: 0.375rem !default;
    $input-btn-padding-x-sm: 1.563rem !default;
    $input-btn-font-size-sm: 0.938rem !default;
  }
  .btn {
    width: 100%;
    max-width: 180px;
    min-width: 120px;
    $input-btn-padding-y: 0.688rem !default;
    $input-btn-padding-x: 2.688rem !default;
    $input-btn-font-size: 1.25rem !default;
    font-size: 12px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .btn-sm {
    $input-btn-padding-y-sm: 0.26rem !default;
    $input-btn-padding-x-sm: 1.08rem !default;
    $input-btn-font-size-sm: 0.65rem !default;
  }
  .btn {
    width: 100%;
    max-width: 185px;
    min-width: 185px;
    $input-btn-padding-y: 0.47rem !default;
    $input-btn-padding-x: 1.85rem !default;
    font-size: 0.8rem;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1439px) {
  .btn-sm {
    $input-btn-padding-y-sm: 0.26rem !default;
    $input-btn-padding-x-sm: 1.08rem !default;
    $input-btn-font-size-sm: 0.65rem !default;
  }
  .btn {
    width: 100%;
    max-width: 190px;
    min-width: 190px;
    $input-btn-padding-y: 0.47rem !default;
    $input-btn-padding-x: 1.85rem !default;
    font-size: 0.8rem;
  }
}
@media only screen and (min-width: 1920px) {
  .btn-sm {
    $input-btn-padding-y-sm: 0.5rem !default;
    $input-btn-padding-x-sm: 2.08rem !default;
    $input-btn-font-size-sm: 1.25rem !default;
  }
  .btn {
    $input-btn-padding-y: 0.92rem !default;
    $input-btn-padding-x: 3.58rem !default;
    $input-btn-font-size: 1.67rem !default;
  }
}
