@font-face {
  font-family: "dwa";
  src: url("../fonts/dwa/DWACorpid-Regular.woff");
  src: url("../fonts/dwa/DWACorpid-Regular.woff2");
  font-weight: normal;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: "dwa-italic";
  src: url("../fonts/dwa/DWACorpid-Italic.woff");
  src: url("../fonts/dwa/DWACorpid-Italic.woff2");
  font-weight: normal;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: "dwa-light";
  src: url("../fonts/dwa/DWACorpid-Light.woff");
  src: url("../fonts/dwa/DWACorpid-Light.woff2");
  font-weight: normal;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: "dwa-bold";
  src: url("../fonts/dwa/DWACorpid-Bold.woff");
  src: url("../fonts/dwa/DWACorpid-Bold.woff2");
  font-weight: normal;
  font-style: normal;
  font-display: auto;
}

:root {
  --font-regular: "dwa";
  --font-italic: "dwa-italic";
  --font-light: "dwa-light";
  --font-bold: "dwa-bold";
}
