.modal-header .close {
  margin: 0;
  padding: 0;
}
button.close {
  outline: none !important;
  padding: 0;
  border: 0;
  font-family: var(--font-light);
  font-size: 30px;
  background: white;
  padding-top: 10px !important;
  padding-bottom: 20px !important;
  padding-left: 25px !important;
  padding-right: 10px !important;
  border-bottom-left-radius: 80%;
  border-top-right-radius: 13px;
}

.close {
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.5;
  outline: 0;
}

.icon-contact {
  width: auto;
  height: 20px;
}
