// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

// Color system

$white: #fff !default;
$gray-100: #e4e7e6 !default;
$gray-200: #d6d6d6 !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #545454 !default;
$gray-700: #495057 !default;
$gray-800: #333333 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$grays: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$grays: map-merge(
  (
    "100": $gray-100,
    "200": $gray-200,
    "300": $gray-300,
    "400": $gray-400,
    "500": $gray-500,
    "600": $gray-600,
    "700": $gray-700,
    "800": $gray-800,
    "900": $gray-900,
  ),
  $grays
);

$orange: #e16411 !default;
$red: #dc3545 !default;
$yellow: #ffc107 !default;
$green: #28a745 !default;
$cyan: #17a2b8 !default;

$colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$colors: map-merge(
  (
    "orange": $orange,
    "red": $red,
    "yellow": $yellow,
    "green": $green,
    "cyan": $cyan,
    "white": $white,
  ),
  $colors
);

$primary: #e16411 !default;
$secondary: #86929e !default;
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-100 !default;
$dark: $gray-800 !default;

$theme-colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$theme-colors: map-merge(
  (
    "primary": $primary,
    "secondary": $secondary,
    "success": $success,
    "info": $info,
    "warning": $warning,
    "danger": $danger,
    "light": $light,
    "dark": $dark,
    "orange": $orange,
    "red": $red,
    "yellow": $yellow,
    "green": $green,
    "cyan": $cyan,
    "white": $white,
    "black": $black,
    "gray-200": $gray-200,
    "gray-600": $gray-600,
  ),
  $theme-colors
);

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1920px,
) !default;

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1400px,
) !default;

// Buttons + Forms
//
// Shared variables that are reassigned to `$input-` and `$btn-` specific variables.

// $input-btn-padding-y: 0.688rem !default;
// $input-btn-padding-x: 2.688rem !default;
// $input-btn-font-size: 1.25rem !default;

$input-btn-focus-width: 0rem !default;

// $input-btn-padding-y-sm: 0.375rem !default;
// $input-btn-padding-x-sm: 1.563rem !default;
// $input-btn-font-size-sm: 0.938rem !default;

// $input-btn-padding-y-lg: 0.75rem !default;
// $input-btn-padding-x-lg: 2.688rem !default;
// $input-btn-font-size-lg: 1.563rem !default;

// Buttons
//
// For each of Bootstrap's buttons, define text, background, and border color.

$btn-padding-y: 0.688rem !default;
$btn-padding-x: 2.688rem !default;
$btn-font-size: 1.25rem !default;
$btn-white-space: null !default; // Set to `nowrap` to prevent text wrapping

$btn-padding-y-sm: 0.375rem !default;
$btn-padding-x-sm: 0.563rem !default;
$btn-font-size-sm: 0.938rem !default;

$btn-padding-y-lg: 0.75rem !default;
$btn-padding-x-lg: 0.688rem !default;
$btn-font-size-lg: 1.563rem !default;

// Cards

$card-spacer-y: 0.75rem !default;
$card-spacer-x: 1.25rem !default;
$card-border-radius: 15px !default;
$card-border-color: rgba($black, 0.125) !default;
$card-img-overlay-padding: 1.25rem !default;

$h1-font-size: 4rem !default;
$h2-font-size: 3.375rem !default;
$h3-font-size: 2.3125rem !default;
$h4-font-size: 2.125rem !default;

// Carousel
$carousel-control-color: $white !default;
$carousel-indicator-width: 10px !default;
$carousel-indicator-height: 10px !default;
$carousel-indicator-hit-area-height: 10px !default;
$carousel-indicator-spacer: 3px !default;
$carousel-indicator-active-bg: $primary !default;
$carousel-indicator-transition: opacity 0.6s ease !default;

$carousel-control-prev-icon-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='#{$white}' width='8' height='8' viewBox='0 0 8 8'><path d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/></svg>") !default;
$carousel-control-next-icon-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='#{$white}' width='8' height='8' viewBox='0 0 8 8'><path d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/></svg>") !default;

$modal-content-border-radius: 13px;
