.hidden {
  visibility: hidden;
}
.intro-sticky {
  position: -webkit-sticky;
  position: sticky;
  // top: 15vh;
  // height: 50vh;

  top: 375px;
  height: 40vh;
}
.information-stop {
  margin-top: -100vh;
  margin-top: -82vh;
  &.space {
    margin-top: -82vh;
  }
}
.information-stop-box {
  //height: 160vh;
  height: 145vh;
}

.text-cropped {
  max-width: 685px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1200px) {
  .text-cropped {
    max-width: 525px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 992px) {
  .text-cropped {
    max-width: 455px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .text-cropped {
    max-width: unset;
  }
  .intro-sticky {
    position: unset;
    top: unset;
    height: unset;
    padding-top: unset;
  }
  .information-stop {
    z-index: 1;
    margin-top: unset;
    background-color: white;
    position: sticky;
  }
  .information-stop-box {
    height: unset;
  }
}

.intro-sticky {
  background-color: #ffffff;
}

#informationTitle.position-fixed {
  top: 65px;
  z-index: 3;
  transform: translateX(-50%);
  left: 50%;
  width: 100%;
  margin: 0;
  padding: 0;
}
#informationTitle {
  max-width: 100%;
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .text-cropped {
    max-width: unset;
  }
  .intro-sticky {
    position: unset;
    top: unset;
    height: unset;
    padding-top: unset;
  }
  .information-stop {
    z-index: 1;
    margin-top: unset;
    background-color: white;
    position: sticky;
  }
  .information-stop-box {
    height: unset;
    min-height: unset;
  }
}

@media only screen and (min-wdith: 1024px) {
  .information-stop-box {
    min-height: 850px;
  }
}
